@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f1f1f1;
  margin: 0 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Bubblegum Sans", cursive;
  text-shadow: 4px 4px 0 #e7eef1, 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.font-bubble {
  font-family: "Bubblegum Sans", cursive;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.doodle-bg {
  background: url("/images/sky.jpeg");
}
